@model SmartEvent.Models.Event

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Event</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BasePrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BasePrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.EventId">Edit</a> |
    <div class="mt-3">
        @if (User.IsInRole("Admin"))
        {
            <a class="btn btn-secondary"
               asp-controller="Events"
               asp-action="Index">
                ← Back to Event List
            </a>
        }
        else
        {
            <a class="btn btn-primary"
               asp-controller="Home"
               asp-action="Index">
                ← Back to Home
            </a>
        }
    </div>

</div>
